<div class="container">
  <section class="section_1_Area">
    <h1>
      {{section_1_Text.title}}
    </h1>
    <h3>
      {{section_1_Text.content}}
    </h3>
    <button type="button" (click)="sectionOneFun()">產生九九乘法表</button>
    <div class="answer_Area">
      <pre class="answer" *ngFor="let item of sectionOneOutput">{{item}}</pre>
    </div>
  </section>

  <section class="section_2_Area">
    <h1>
      {{section_2_Text.title}}
    </h1>
    <h3>
      {{section_2_Text.content}}
    </h3>
    <button type="button" (click)="sectionTwoFun(sectionTwoOutput.input)">重新排序</button>
    <div class="answer_Area">
      <h3>[{{sectionTwoOutput.output}}]</h3>
    </div>
  </section>

  <section class="section_3_Area">
    <h1>
      {{section_3_Text.title}}
    </h1>
    <h3>
      {{section_3_Text.content}}
    </h3>
    <input type="text" [(ngModel)]="sectionThreeOutput.input">
    <button type="button" (click)="sectionThreeFun(sectionThreeOutput.input)">開始</button>
    <div class="answer_Area">
      <div class="answer_1">
        <h2 class="answer_Title">小題1</h2>
        <pre class="answer" *ngFor="let item of sectionThreeOutput.output1">{{item}}</pre>
      </div>

      <div class="answer_2">
        <h2 class="answer_Title">小題2</h2>
        <pre class="answer" *ngFor="let item of sectionThreeOutput.output2">{{item}}</pre>
      </div>

      <div class="answer_3">
        <h2 class="answer_Title">小題3</h2>
        <pre class="answer" *ngFor="let item of sectionThreeOutput.output3">{{item}}</pre>
      </div>

      <div class="answer_4">
        <h2 class="answer_Title">小題4</h2>
        <pre class="answer" *ngFor="let item of sectionThreeOutput.output4">{{item}}</pre>
      </div>

      <div class="answer_5">
        <h2 class="answer_Title">小題5</h2>
        <pre class="answer" *ngFor="let item of sectionThreeOutput.output5">{{item}}</pre>
      </div>

    </div>
  </section>

  <section class="section_4_Area">
    <h1>
      {{section_4_Text.title}}
    </h1>
    <h3>
      {{section_4_Text.content}}
    </h3>
    <input type="text" [(ngModel)]="sectionFourOutput.input">
    <button type="button" (click)="sectionFourFun(sectionFourOutput.input)">開始</button>
    <div class="answer_Area">
      <h3 class="fun_output">{{sectionFourOutput.output}}</h3>
    </div>
  </section>

  <section class="section_5_Area">
    <h1>
      {{section_5_Text.title}}
    </h1>
    <h3>
      {{section_5_Text.content}}
    </h3>
    <h3>請輸入數字</h3>
    <input type="text" [(ngModel)]="sectionFiveOutput.input">
    <button type="button" (click)="sectionFiveFun(sectionFiveOutput.input)">開始</button>
    <div class="answer_Area">
      <h3 class="fun_1_output">{{sectionFiveOutput.output1}}</h3>
      <h3 class="fun_2_output">{{sectionFiveOutput.output2}}</h3>
    </div>
  </section>
</div>